/*Pages*/
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.content {
  display: block;
  width: 91%;
  margin: 60px 0 0 20px;
  padding: 0;
}

.content p {
  text-align: justify;
}

.contacto {
  margin-left: 9.375rem;
  margin-top: -3.125rem;
}

.marcar h2 {
  color: rgb(255, 255, 255);
}

.contacto h3 {
  color: white;
}

.contacto ul {
  display: flex;
  list-style-type: none;
}

.contacto li {
  margin-right: 3.125rem;
}

/* CONTACTO */
form {
  width: 60%;
  margin: 0 auto;
  background: rgb(136, 136, 136);
  background: linear-gradient(180deg, rgb(74, 74, 74) 0%, rgb(149, 149, 150) 100%);
  border-radius: 1.25rem;
  padding: 10px 20px;
  margin-top: 8%;
  border-radius: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  border-radius: 8px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

input, select {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  border-radius: 8px;
}

button {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button:hover {
  cursor: pointer;
}

/*Components*/
.hotel-cards {
  margin-bottom: 80px;
}

.hotel-cards article {
  margin-top: 20px;
  box-shadow: 0.7px 0.7px 0.7px rgba(0, 0, 0, 0.053), 2.5px 2.2px 2.5px rgba(0, 0, 0, 0.077), 11px 10px 11px rgba(0, 0, 0, 0.13);
}

.preview-card {
  display: flex;
  padding: 10px 0 0 28px;
}

.preview-card:active {
  transform: translateX(1px);
  transform: translateY(1px);
  box-shadow: 0px 0px 26.3px rgba(0, 0, 0, 0.23), 0px 0px 105px rgba(0, 0, 0, 0.115);
  transition: all 0.1s ease-in-out;
  background-color: rgba(121, 121, 121, 0.2392156863);
}

@media (max-width: 480px) {
  .preview-card-img {
    width: 90%;
  }
  .hotel-card-sumary {
    width: 80%;
    margin-top: -16px;
  }
  .preview-card-stars {
    width: 50px;
    height: 50px;
  }
  .card-text,
  button {
    display: none;
  }
}
footer {
  background-color: #424242;
  color: white;
  display: flex;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}

@media (max-width: 480px) {
  footer {
    align-items: center;
    flex-direction: column-reverse;
  }
  .social-links-footer ul {
    display: flex;
    justify-content: space-between;
  }
  .social-links-footer li {
    margin: 15px;
  }
}
.logo-principal {
  position: absolute;
}

.menu {
  background: #424242;
  border-radius: 10px;
  border-radius: 10px;
  list-style-type: none;
  margin: -100px 0 0 -50px;
  padding-top: 125px;
  padding-bottom: 40px;
  position: absolute;
  width: 300px;
  box-shadow: 1.8px 1.5px 8px rgba(0, 0, 0, 0.215), 14px 12px 32px rgba(0, 0, 0, 0.43);
}

.menu-toggle {
  position: relative;
  top: 50px;
  right: -20px;
  display: none;
  width: 6.7%;
}

.menu li {
  margin-left: 120px;
  padding: 10px 0;
  font-size: 22px;
  color: white;
}

.menu-toggle a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  opacity: 0;
  z-index: 2;
}

.menu-toggle a:hover {
  text-shadow: 0px 0px 15px #FFFFFF;
}

.menu-toggle input:checked ~ ul {
  color: white;
}

.menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
}

.menu-toggle span {
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-toggle input:checked ~ ul {
  transform: translate(-30%, 0%);
}

.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

.menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

@media (max-width: 480px) {
  .logo-principal {
    margin-top: 24px;
    margin-left: 385px;
  }
  .img-principal {
    width: 100%;
    margin-top: 50px;
  }
  .nav-principal, .nav-principal-social {
    display: none;
  }
  .menu {
    transform-origin: 0% 0%;
    transform: translate(-200%, 0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .menu-toggle {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
