.contacto{
  margin-left: 9.375rem;
  margin-top: -3.125rem;
}

.contacto ul{
  display: flex;
  list-style-type:none ;
}

.contacto li{
  margin-right: 3.125rem;
}

/* CONTACT */

form {
  width: 30%;
  margin:0 auto;
  background-color: #c0c0c0c0;
  border-radius: 1.25rem;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  border-radius: 8px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

input, select {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  border-radius: 8px;
}

button {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  border: none;
}


@media (max-width: 480px) {
  form {
    width: 60%;
  }
}
