.contacto{
  margin-left: 9.375rem;
  margin-top: -3.125rem;
}

.marcar h2{
  color: rgb(255, 255, 255);
}

.contacto h3{
  color: white;
}

.contacto ul{
  display: flex;
  list-style-type:none ;
}

.contacto li{
  margin-right: 3.125rem;
}

/* CONTACTO */

form{
  width: 60%;
  margin:0 auto;
  background: rgb(136, 136, 136);
  background: linear-gradient(180deg, rgb(74, 74, 74) 0%, rgb(149, 149, 150) 100%);
  border-radius: 1.25rem;
  padding: 10px 20px;
  margin-top: 8%;
  border-radius: 20px;
}

input, textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  border-radius: 8px;
}

textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

input, select{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  border-radius: 8px;
}

button{
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button:hover{
  cursor: pointer;
}
