
.hotel-title-container h1{
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  margin-top: 10px;
}

.hotel-title-container p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.hotel-title-container a {
  color: black;
}

.hotel-title-share {
  display: flex;
  justify-content: flex-end;
}

.hotel-title-share-elements {
  margin: 10px;
}

@media (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) {

}