body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.content {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 768px) {
  .img-principal-big {
    display: none;
  }

  .img-principal {
    width: 100%;
    margin-top: 20px;
  }
}

@media (min-width: 769px) {
  .img-principal {
    display: none;
  }

  .img-principal-big {
    margin-left: 20px;
    width: 100%;
  }
}