@media (max-width: 480px) {
  .more-info-button {
    display: none;
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  .more-info-button {
    background-color: #d9d9d9d9;
    border-radius: 10px;
    border: none;
    left: 232px;
    padding: 20px;
    position: relative;
    text-decoration: none;
    color: black;
  }
}

@media (min-width: 769px) {
  .more-info-button {
    background-color: #d9d9d9d9;
    border-radius: 10px;
    border: none;
    left: 232px;
    padding: 20px;
    position: relative;
    text-decoration: none;
    color: black;
  }
}


/*Hotel page*/

.reserve-button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #c0c0c0;
}