
@media (min-width: 481px) and (max-width: 768px) {
  .more-info-button {
    border-radius: 10px;
    border: none;
    left: 232px;
    padding: 20px;
    position: relative;
  }
}

@media (min-width: 769px) {
  .more-info-button {
  border-radius: 10px;
  border: none;
  left: 232px;
  padding: 20px;
  position: relative;
  }
}


/*Hotel page*/

.reserve-button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #c0c0c0;
}