.carrousel {
  display: grid;
  grid-auto-flow: column;
  overflow-y: auto;
}

.galery--carrousel {
  display: grid;
  grid-auto-flow: column;
  overflow-y: auto;
}

.carrousel::-webkit-scrollbar {
  background-color: rgba(160, 160, 160, 0.356);
  border-radius: 6px;
}

.carrousel::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 6px;
}

@media (max-width: 480px) {
  .carrousel {
    display: none;
  }

  .galery--carrousel-cards {
    width: 350px;
  }
}

  @media (min-width: 481px) and (max-width: 768px) {
  .carrousel {
    gap: 2.5rem;
    margin-bottom: 100px;
    padding: 30px;
  }

  .galery--carrousel-cards {
    width: 300px;
  }

  .carrousel-cards {
    background-color: #c0c0c0;
    border-radius: 10px;
    margin-bottom: 60px;
    padding: inherit;
    width: max-content;
  } 
}

  @media (min-width: 769px) {
  .carrousel {
    gap: 2.5rem;
    margin-bottom: 100px;
    padding: 30px;
    display: grid;
    grid-auto-flow: column;
    overflow-y: auto;
  }

  .galery--carrousel {
    gap: 1rem;
    margin-bottom: 50px;
    padding: 30px;
  }

  .carrousel-cards {
    background-color: #c0c0c0;
    border-radius: 10px;
    margin-bottom: 60px;
    padding: inherit;
    width: 86%;
  }

  .galery--carrousel::-webkit-scrollbar {
    background-color: rgba(160, 160, 160, 0.356);
    border-radius: 6px;
  }
  
  .galery--carrousel::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 6px;
  }
}